/*
    Classes for the connection status indicator
*/

.iceOutConStat {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border: none;
    font-size: .5em;
}

.iceOutConStatInactv {
    position: absolute;
    background-image: url( css-images/connect_idle.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.iceOutConStatActv {
    position: absolute;
    background-image: url( css-images/connect_active.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.iceOutConStatCaution {
    position: absolute;
    background-image: url( css-images/connect_idle.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.iceOutConStatDisconnect {
    position: absolute;
    background-image: url( css-images/connect_idle.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}